<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
    <style>
        .container{
            background-color: aquamarine;
            color: black;
            text-align: center;
            justify-content: center;
        }
        ul{
            background-color: red;
        }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>This is a welcome file</h1>
      <p>Testing</p>
      <h2>Copying File</h2>
    </div>

    <ul>
      <li>abc</li>
      <li>cd</li>
      <li>ef</li>
      <li>ef</li>
      <li>ef</li>
    </ul>
  </body>
</html>
